/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example: In src/assets/styles.css */
@font-face {
    font-family: 'Certia';
    src: url('../src/assets/fonts/') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Certia', sans-serif;
  }
  